@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
    --center: 50%;
}

.box {
    width: 50px;
    height: 50px;
    background-color: #E5E6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #7F2ED7;
    font-weight:bolder;
    font-family: "Tilt Neon", sans-serif;
    border-radius: 10px;
}
.none {
    display: none;
}
.tic-tac {
    border: 1px solid #E5E6FA;
    padding: 50px;
    border-radius: 50px;
}
#restart {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: calc(50% + 120px);
    left: calc(var(--center) + 30px);
    border-radius: 100%;
    background-color: #7F2ED7;
    color: white;
    border: 0;
}
#restart:hover {
    background-color: #c3b0d6;
}
.container > .row {
    /* background-color: #7F2ED7; */
    position: relative;
    left: var(--center);
}
.container > .row .col input {
    border:  0;
    background-color: #7F2ED7;
    border-radius: 10px;
    padding: 10px;
    color: #E5E6FA;
    font-family:  "Tilt Neon", sans-serif;
}
.p-mssg {
    color: #7F2ED7;
    font-family:  "Tilt Neon", sans-serif;
    font-weight: bold;
}
.score-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #E5E6FA;

    border-radius: 50px;
    background-color: #E5E6FA;
    font-family:  "Tilt Neon", sans-serif;
    font-weight: bold;
    color: #7F2ED7;
}
#score-against, #score-me {
    font-size: 30px;
}
.demo > .row {
    margin-top: 50px;
    margin-left: 100px;
}
.winMssg, .winGameMssg {
    position: relative;
    top: 50px;
    left: calc(var(--center) - 200px);
    background-color: #E5E6FA;
    border-radius: 10px;
    color: #7F2ED7;
    font-family:  "Tilt Neon", sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
    width: 40%;
}
.winGameMssg {
    top: 20px;
    background-color: #ad9cbe;
    color: #2f0062;
    left: calc(var(--center) - 100px);

}
.css-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

@media screen and (max-width: 750px){
    #restart {
        top: calc(50% + 150px);
    }
}